/* глобальний reset на початку файлу стилів */
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: system-ui, sans-serif;
    line-height: 1.5;
    color: #000000;
}

header {
    background-color: #000000;
    padding: 10px;
    color: #ffffff;
}

header h1 {
    text-align: center;
    font-size: 3rem;
}

header nav a {
    margin-right: 40%;
    color: #ffffff;
    text-decoration: none;
}

main {
    max-width: 90%;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}

section {
    margin: 10px;
}

.card {
    padding: 16px;
    border-left: 4px solid black;
    margin-bottom: 10px;
}

.card img {
    max-width: 100%;
}

aside {
    border: 1px solid black;
    padding: 16px;
    margin-bottom: 10px;
    background-color: #979191;
}

footer {
    font-size: small;
    padding: 10px;
    color: rgb(39, 39, 38);
}